<h1>New Building</h1>

<i><%= notice %></i><br>

<%= simple_form_for(@building) do |f| %>

  <%= f.input :address %>
  <%= f.input :city  %>
  <%= f.input :state, collection: Building.us_states %>
  <%= f.input :postal_code  %>
  <%= f.input :description  %>
  <%= f.input :owner_id, collection: Owner.all, label_method: :full_name, value_method: :id, include_blank: true %>
  <%= f.button :submit %>

<% end %>
